<div class="grid-item">
  <!--
  {% if project.redirect %}
  <a href="{{ project.redirect }}" target="_blank">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}
  -->
  <div class="card hoverable bg-light">
    <div class="card-img">
      <img src="{{ project.img | relative_url }}" alt="project thumbnail">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ project.title }}</h5>
      <div class="card-desc">{{ project.description }}</div>
      <div class="card-icon">
          {% if project.email %}
            <a href="mailto:{{ project.email | encode_email }}"><i class="fas fa-envelope"></i></a>
          {% endif %}
          {% if project.orcid %}
            <a href="https://orcid.org/{{ project.orcid }}" target="_blank"><i class="ai ai-orcid"></i></a>
          {% endif %}
          {% if project.scholar %}
            <a href="https://scholar.google.com/citations?user={{ project.scholar }}" target="_blank" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
          {% endif %}
          {% if project.github %}
            <a href="https://github.com/{{ project.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
          {% endif %}
          {% if project.twitter %}
            <a href="https://twitter.com/{{ project.twitter }}" target="_blank"><i class="fab fa-twitter gh-icon"></i></a>
          {% endif %}
          {% if project.zhihu %}
          <a href="https://www.zhihu.com/people/{{ project.zhihu }}" target="_blank"><i class="fab fa-zhihu gh-icon"></i></a>
          {% endif %}
          {% if project.weibo %}
          <a href="https://m.weibo.cn/u/{{ project.weibo }}" target="_blank"><i class="fab fa-weibo gh-icon"></i></a>
          {% endif %}
          {% if project.researchgate %}
          <a href="https://www.researchgate.net/profile/{{ project.researchgate }}" target="_blank"><i class="fab fa-researchgate gh-icon"></i></a>
          {% endif %}
      </div>


   <!-- Button trigger modal -->
      <a class="btn btn-outline-dark" data-toggle="modal" href="#M{{project.importance}}">
        BIO
      </a>

      <!-- Modal -->
      <div class="modal fade" id="M{{project.importance}}" tabindex="-1" aria-labelledby="exampleModalLabel{{ project.importance }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel{{ project.importance }}"> {{ project.title }} </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: black;">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ project.bio }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Button trigger modal -->
      <a class="btn btn-outline-dark" data-toggle="modal" href="#M{{project.importance}}cn">
        简介
      </a>

      <!-- Modal -->
      <div class="modal fade" id="M{{project.importance}}cn" tabindex="-1" aria-labelledby="exampleModalLabel{{ project.importance }}cn" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel{{ project.importance }}cn"> {{ project.title }} </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="color: black;">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ project.bio_cn }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
    <!-- </a> -->
</div>