<div class="card-item col">
  <!--
  {% if project.redirect %}
  <a href="{{ project.redirect }}" target="_blank">
  {% else %}
  <a href="{{ project.url | relative_url }}">
  {% endif %}
  -->
  <div class="card hoverable bg-light">
    <div class="row g-0 no-gutters">
      <div class="card-img col-md-3">
        <img src="{{ project.img | relative_url }}" alt="project thumbnail">
      </div>
      <div class="col-md-3 no-gutters">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-desc">{{ project.description }}</p>
            <div class="row ml-1 mr-1 p-0 no-gutters">
              {% if project.email %}
              <div class="card-icon">
                <a href="mailto:{{ project.email | encode_email }}"><i class="fas fa-envelope"></i></a>
              </div>
              {% endif %}
              {% if project.orcid %}
              <div class="card-icon">
                <a href="https://orcid.org/{{ project.orcid }}" target="_blank"><i class="ai ai-orcid"></i></a>
              </div>
              {% endif %}
              {% if project.github %}
              <div class="card-icon">
                <a href="https://github.com/{{ project.github }}" target="_blank"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {% endif %}
              {% if project.twitter %}
              <div class="card-icon">
                <a href="https://twitter.com/{{ project.twitter }}" target="_blank"><i class="fab fa-twitter gh-icon"></i></a>
              </div>
              {% endif %}
            </div>
          </div>
      </div>
      <div class="col-md-6 no-gutters">
        <div class="card-body">
          <p class="card-text">{{ project.bio }}</p>
        </div>
      </div>
    </div>
  </div>
    <!-- </a> -->
</div>