{% if site.enable_mansory %}
  <!-- Masonry & imagesLoaded -->
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="{{ site.third_party_libraries.masonry.integrity.js }}"
    crossorigin="anonymous"
  ></script>
  <script
    defer
    src="{{ https://cdn.jsdelivr.net/npm/imagesloaded@5.0.0/imagesloaded.pkgd.min.js }}"
    integrity="{{ site.third_party_libraries.imagesloaded.integrity.js }}"
    crossorigin="anonymous"
  ></script>
  <script defer src="{{ '/assets/js/masonry.js' | relative_url }}" type="text/javascript"></script>
{% endif %}
