{% if site.enable_mansory %}
<!-- Mansory & imagesLoaded -->
<script defer src="https://cdn.bootcdn.net/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
<script defer src="https://cdn.bootcdn.net/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
<!-- <script defer src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script defer src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script> -->
<script defer src="{{ '/assets/js/mansory.js' | relative_url }}" type="text/javascript"></script>
{% endif %}
