---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     <span class="font-weight-bold" style="color:#ed6b00">{{ page.title }}</span>
    </h1>
     <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    {% if page.news %}
      <h2>新闻</h2>
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      <h2>代表论文</h2>
      {% include selected_papers.html %}
    {% endif %}

    <h2>联系我们</h2>
    <div class="contact">
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          <tr>
            <th scope="row"><i class="fas fa-envelope" style="font-size: 2rem"></i></th>
            <td style="vertical-align: middle;">shimin.shuai[at]outlook.com</td>
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-phone" style="font-size: 2rem"></i></th>
            <td style="vertical-align: middle;">0755 XXX YYYY</td>    
          </tr>
          <tr>
            <th scope="row"><i class="fas fa-map-marked-alt" style="font-size: 2rem"></i></i></th>
            <td style="vertical-align: middle;">深圳市南山区学苑大道1088号南方科技大学医学院</td>   
          </tr>
        </table>
      </div>
    </div>

    {% if page.social %}
    
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
